.my-card {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px #dee2e6;
    h5{
      text-decoration: underline;

    }
    
  }
  
  .my-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  }
  