body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif; 
    background-color: #111;
    color: #fff; 
    margin: 0;
    padding: 0;
  }
  .center_element{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height:15vh;
  }
  app-card {
    justify-content: center;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 100%, 0 100%);
    box-shadow: 5px #dee2e6;
}
 

a {
  color: #00ff00; 
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff00ff; 
}
/*botones*/
button {
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-dark {
  background-color: #221; 
  color: #00ff00; 
}

.btn-dark:hover {
  background-color: #00ff00; 
  color: #000; 
}
/*table*/

.tabl-container {
  margin: 20px;
}

.tabl {
  color:#dee2e6;
  width: 100%;
  border-collapse:initial;
  font-size: large;
  background-color: #222;
}



.tabl tr:hover {
  background-color: #444;

  th,td{
      color: black;
      text-shadow: #dee2e6;
  }
  
}

.tabl thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.tabl tbody + tbody {
  border-top: 2px solid #dee2e6;
}